<?xml version="1.0" ?>

<!--
Copyright 2026 Intrinsic Innovation LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<sdf version="1.9" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="model" default="ace"/>
  <xacro:arg name="mesh_offset_z" default="-0.05"/>
  <xacro:arg name="mass" default="0.1"/>

  <model name="basler_camera">
    <link name="body">
      <inertial>
        <mass>$(arg mass)</mass>
        <inertia>
          <ixx>0.00002083</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.00002083</iyy>
          <iyz>0</iyz>
          <izz>0.000015</izz>
        </inertia>
      </inertial>
      <visual name="visual">
        <!-- Offset mesh to prevent occlusion of camera image -->
        <pose>0 0 $(arg mesh_offset_z) 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://intrinsic_perception/intrinsic/perception/cameras/hardware_devices/basler_$(arg model)_visual.glb</uri>
          </mesh>
        </geometry>
      </visual>
      <collision name="collision">
        <pose>0 0 $(arg mesh_offset_z) 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://intrinsic_perception/intrinsic/perception/cameras/hardware_devices/basler_$(arg model)_collision.glb</uri>
          </mesh>
        </geometry>
        <max_contacts>10</max_contacts>
      </collision>
    </link>
  </model>
</sdf>
