<?xml version="1.0" ?>

<!--
Copyright 2026 Intrinsic Innovation LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<robot name="ur10e">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/base.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/base.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.1807"/>
    <axis xyz="0 0 1"/>
    <limit effort="150.0" lower="-6.2831853" upper="6.2831853" velocity="2.0943951"/>
  </joint>
  <link name="shoulder_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/shoulder.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/shoulder.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="7.369"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="upper_arm_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="150.0" lower="-4.1" upper="0.96" velocity="2.0943951"/>
  </joint>
  <link name="upper_arm_link">
    <visual>
      <origin rpy="0 1.57079632679 0" xyz="0 0.176 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/upperarm.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0" xyz="0 0.176 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/upperarm.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="13.051"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.28"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link"/>
    <child link="forearm_link"/>
    <origin rpy="0 0 0" xyz="0.6127 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="150.0" lower="-2.8" upper="2.8" velocity="3.1415927"/>
  </joint>
  <link name="forearm_link">
    <visual>
      <origin rpy="0 1.57079632679 0" xyz="0 0.039 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/forearm.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0" xyz="0 0.039 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/forearm.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.989"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.25"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link"/>
    <child link="wrist_1_link"/>
    <origin rpy="0 0 0" xyz="0.57155 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="28.0" lower="-6.2831853" upper="6.2831853" velocity="3.1415927"/>
  </joint>
  <link name="wrist_1_link">
    <visual>
      <origin rpy="0 3.14159265359 0" xyz="0 0.039 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/wrist1.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 3.14159265359 0" xyz="0 0.039 0"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/wrist1.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.1"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link"/>
    <child link="wrist_2_link"/>
    <origin rpy="0 0 0" xyz="0 0.17415 -0.11985"/>
    <axis xyz="0 0 -1"/>
    <limit effort="28.0" lower="-6.2831853" upper="6.2831853" velocity="3.1415927"/>
  </joint>
  <link name="wrist_2_link">
    <visual>
      <origin rpy="0 3.14159265359 0" xyz="0 0 0.11985"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/wrist2.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 3.14159265359 0" xyz="0 0 0.11985"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/wrist2.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.98"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link"/>
    <child link="wrist_3_link"/>
    <origin rpy="-1.57079632679 0 0" xyz="0.0 0.11655 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="28.0" lower="-6.2831853" upper="6.2831853" velocity="3.1415927"/>
  </joint>
  <link name="wrist_3_link">
    <visual>
      <origin rpy="1.57079632679 0 0" xyz="0 0 -0.11655"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/visual/wrist3.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0 -0.11655"/>
      <geometry>
        <mesh filename="model://third_party/universal_robots/ur10e/collision/wrist3.wrapped.1cm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.615"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
</robot>
